<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BTbuoi5/src/test/Test_Regurlar_Expression.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test.Test_Regurlar_Expression"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BTbuoi5"/>
</launchConfiguration>
